# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [ ]:
weather_data = pd.read_csv('../output_data/weather_data.csv')
weather_data = weather_data.drop(columns={'Unnamed: 0'})
weather_data = weather_data.rename(columns ={'Logitude':'Longitude'})
weather_data.head()

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [69]:
gmaps.configure(api_key=g_key)

In [70]:
locations = weather_data[["Latitude", "Longitude"]].astype(float)

In [71]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weather_data['Humidity'],
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [72]:
ideal_vacay = weather_data.loc[(weather_data['Temperature'] >= 70),:].reset_index()
ideal_vacay = weather_data.loc[(weather_data['Wind Speed'] < 10),:].reset_index()
ideal_vacay = weather_data.loc[(weather_data['Humidity'] < 40),:].reset_index()
ideal_vacay = ideal_vacay.drop(columns={'index'})
ideal_vacay.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Pisco,PE,-13.70,-76.22,73.22,30,75,10.29
1,Santa Luzia,BR,-19.77,-43.85,89.02,38,40,5.82
2,Busselton,AU,-33.65,115.33,65.52,34,57,14.70
3,Taoudenni,ML,22.68,-3.98,68.85,17,0,13.53
4,Pleasanton,US,37.66,-121.87,51.06,29,1,25.28

In [73]:
ideal_vacay.shape

(52, 8)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
hotel_df= ideal_vacay[['City', 'Country', 'Latitude', 'Longitude']]
hotel_df.head()

          City Country  Latitude  Longitude
0        Pisco      PE    -13.70     -76.22
1  Santa Luzia      BR    -19.77     -43.85
2    Busselton      AU    -33.65     115.33
3    Taoudenni      ML     22.68      -3.98
4   Pleasanton      US     37.66    -121.87

In [76]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\basco\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          City Country  Latitude  Longitude Hotel Name
0        Pisco      PE    -13.70     -76.22
1  Santa Luzia      BR    -19.77     -43.85
2    Busselton      AU    -33.65     115.33
3    Taoudenni      ML     22.68      -3.98
4   Pleasanton      US     37.66    -121.87

In [78]:
for city in hotel_df['City']:
    target_coordinates = hotel_df['Latitude'], hotel_df['Longitude']
    target_search = 'hotel',
    target_radius = 5000

    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params)
    
    try: 
        
        print(f'hotel found for {city}')
        
    except:
        print('No Hotel Found')
        pass

TypeError: 'Response' object is not subscriptable

In [79]:
params = {
    "radius": 50000,
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f'{lat},{lng}',
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params)
    response = response.json()
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except:
        print("No Hotel Found... skipping.")

C:\Users\basco\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.

In [80]:
hotel_df.head()

,City,Country,Latitude,Longitude,Hotel Name
0,Pisco,PE,-13.70,-76.22,"Hotel Paracas, a Luxury Collection Resort, Par..."
1,Santa Luzia,BR,-19.77,-43.85,Mercure Belo Horizonte Lourdes Hotel
2,Busselton,AU,-33.65,115.33,Pullman Bunker Bay Resort Margaret River Region
3,Taoudenni,ML,22.68,-3.98,
4,Pleasanton,US,37.66,-121.87,Calista Organic Hotel

In [85]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [87]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
)


fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

# Display Map

Figure(layout=FigureLayout(height='420px'))